{% extends 'base.html' %}

{% block page-title %}<h1>Inscrição</h1>{% endblock %}

{% block header %}
  <link type="text/css" href="{{ STATIC_URL }}css/subscription.css" rel="stylesheet" media="screen">
{% endblock header %}

{% block content %}
<div class="content">
  <form class="subscription_form" action="." method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
      <div class="label"><label for="{{ forms.name.id_for_label }}">{{ form.name.label }}:</label></div>
      <div class="field">{{ form.name }}</div>
      <div class="errors">{{ form.name.errors }}</div>
    </div>
    <div class="form-group">
      <div class="label"><label for="{{ forms.cpf.id_for_label }}">{{ form.cpf.label }}:</label></div>
      <div class="field">{{ form.cpf }}</div>
      <div class="errors">{{ form.cpf.errors }}</div>
    </div>
    <div class="form-group">
      <div class="label"><label for="{{ forms.email.id_for_label }}">{{ form.email.label }}:</label></div>
      <div class="field">{{ form.email }}</div>
      <div class="errors">{{ form.email.errors }}</div>
    </div>
    <div class="form-group">
      <div class="label"><label for="{{ forms.phone.id_for_label }}">{{ form.phone.label }}:</label></div>
      <div class="phone-field">{{ form.phone }}</div>
      <div class="errors">{{ form.phone.errors }}</div>
    </div>
    <div class="submit"><input class="button orange submit" type="submit" name="submit" /></div>
  </form>
</div>
<div class="clear"></div>
{% endblock content %}
