{% extends 'base.html' %}

{% block page-title %}<h1>Inscrição</h1>{% endblock %}

{% block header %}
  <link type="text/css" href="{{ STATIC_URL }}css/subscription.css" rel="stylesheet" media="screen">
{% endblock header %}

{% block content %}
<div>
  <form class="subscription_form" action="." method="POST">
    {% csrf_token %}
    <p>
      <div class="label"><label for="{{ forms.name.id_for_label }}">{{ form.name.label }}:</label></div>
      {{ form.name }}
      <div>{{ form.name.errors }}</div>
    </p>
    <p>
      <div class="label"><label for="{{ forms.cpf.id_for_label }}">{{ form.cpf.label }}:</label></div>
      {{ form.cpf }}
      <div>{{ form.cpf.errors }}</div>
    </p>
    <p>
      <div class="label"><label for="{{ forms.email.id_for_label }}">{{ form.email.label }}:</label></div>
      {{ form.email }}
      {{ form.email.errors }}
    </p>
    <p>
      <div class="label"><label for="{{ forms.phone.id_for_label }}">{{ form.phone.label }}:</label></div>
      {{ form.phone }}
      {{ form.phone.errors }}
    </p>
    <input class="button orange submit" type="submit" name="submit" />
  </form>
</div>
<div class="clear"></div>
{% endblock content %}
