{% extends 'base.html' %}

{% block header %}
  <link type="text/css" href="{{ STATIC_URL }}css/index.css" rel="stylesheet" media="screen">
{% endblock header %}

{% block top %}
  <div>
    <a class="button orange subscription" href="{% url subscriptions:subscribe %}">Increva-se Já!</a>
  </div>
{% endblock top %}

{% block content %}
  <p>O evento mais sensacional do ano depois do Dev in Rio!</p>
  <p>Você não pode perder esta oportunidade!</p>
  <p class="information">Para dúvidas e mais informações entre em contato com <a href="mailto:eventex@eventex.com.br">eventex@eventex.com.br</a></p>
{% endblock content %}
